extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Theresa Degler

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | Hi, I'm Theresa. I'm currently a Front-end designer and developer with agency and corporate experience. I have an engineering, computer science and multimedia design background which I have applied to various careers, from defense to commercial marketing.<br>
            | I love the marriage between art and programming, but I find myself drawn to the programming side, specifically  Javascript applications. I'm excited about all the technology and opportunities that I can accomplish as a Full-stack Developer. My experience in design allows me to create rewarding user experiences. I know what it's like to collaborate in a positive work environment, and I am anxious to contribute.<br>
            | Please contact me through email or social media. I look forward to hearing from you!
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML5/XML/CSS3
          li Javascript/jQuery
          li Bootstrap/Responsive Design
          li Node.js & NPM
          li Express
          li Pug
          li Xcode/Cordova
          li Adobe Photoshop
          li Adobe Illustrator 
          li Adobe XD
          li CMS Contao, Wordpress
          
        h6 Contact Info

        ul
          li tdegs999@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/theresa-degler-64a795170') LinkedIn
        a.button.expanded(href='https://github.com/tdegler1') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
